@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap'); */

body,html{
    background-color: #D6DBDF;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
}

/* Header */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	
}

a{
	text-decoration: none;
	color: #eee;
}

#particles-js{
  height:100%;
  width:100%;
  
  /* width: fit-content; */
  overflow:hidden;
  opacity: 50%;
  
  /* background: #f00; */
}

header{
	width: 100%;
	height: 100vh;
	/* background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), red; */
	/* background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat; */
	/* background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("./lpu/15.jpg") center no-repeat; */
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("Images/header.jpg") center no-repeat;
	background-size:cover;
	position:sticky;
  overflow:hidden;
  object-fit: cover;
  margin-bottom: 2rem;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
 
  
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
  background-color: transparent;
  border: 1px solid transparent;
}

nav{
	padding-top: 5rem;
	display: flex;
  /* background-color: black; */
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 2rem;
  position: relative;
  flex-wrap: wrap;
}


.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
  text-shadow: 2em;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .25s;
}

nav ul li:nth-child(3){
	animation-delay: 0.5s;
}

nav ul li:nth-child(4){
	animation-delay: 0.75s;
}

nav ul li:nth-child(5){
	animation-delay: 1s;
}

nav ul li:nth-child(6){
	animation-delay: 1.25s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;

	}

	nav{
		padding-top: 0;
		display:none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
/* Search box */

.search{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 400px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    height: 70px;
    border-radius: 4rem;
  }

.search-container{
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 50px;
    background-color: #fff;
    padding: 7px;
    border-radius: 2rem;
    
  }

.search-container input{
  width: 90%;
  font-size: 19px;
  font-weight: 300;
  color: black;
  padding: 0 10px;
  caret-color: black;
  outline: none;
  border: none;
  margin:0 0 0 0;
  height: 100%;

}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
  margin-top: 30px;
}

/* Menu */


/* Popular spots */

.page-section{
	/* background: whitesmoke; */
  margin-top: 120px;
  text-align: center;
  position:relative;
  width: auto;
  padding-top: 80px;
}

.page-section h1{
  font-size: 4vw;
  color: white;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 25px;
  font-family: 'Poppins', sans-serif;;
}

.slideshow-border{
  width: 350px;
  height: 5px;
  background: crimson;
  margin:26px auto;
}


.slideshow-container {
	position: relative;
  box-sizing: border-box;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
}

.mySlides {
	display: flex;

  width: 60%;
  height: 400px;
  background-image: url("Images/lpu1.jpg");
  background-size: 100% 100%;
  box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
  animation: changeImage 13s linear infinite ;
  }

  @keyframes changeImage {
    0%{
      background-image: url("Images/lpu1.jpg");
    }
    25%{
      background-image: url("Images/lpu2.jpg");
    }
    50%{
      background-image: url("Images/lpu3.jpg");
    }
    75%{
      background-image: url("Images/lpu4.jpg");
    }
    100%{
      background-image: url("Images/lpu5.jpg");
    }
    
  }


.cursor {
    cursor:pointer;
}
  

.demo {
	opacity: 0.6;
 
	
  }

  .active,
  .demo:hover {
	opacity: 1;
  }

   

/* Reviews */

.testimonials{
  padding: 40px,0;
  background: #212529;
  text-align: center;
  margin-top: 150px;

}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.inner h1{
  font-size: 4vw;
  color: white;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;;
}

.border{
  width: 700px;
  height: 5px;
  background: crimson;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.col{
  flex: 33.33%;
  max-width: 30%;
  box-sizing :inherit;
  padding: 15px;
}

.testimonial{
  background: #fff;
  padding: 30px;
  transition: 0.25s all ease-in-out;

}

.testimonial:hover{
  transform: scale(1.11); 
  cursor: pointer;
}

.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.testimonial p{
  font-size: small;
  color: gray;
}




.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars{
  color: gold;
  margin-bottom: 20px;
  size: 30px;
}

@media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  
}

/* Team members */

.team{
  padding: 40px,0;
  background: #212529;
  text-align: center;
  margin-top: 150px;
}

.team-underline{
  width: 200px;
  height: 5px;
  background: crimson;
  margin: 26px auto;
}

.container-body{
  background: #212529;
  padding-bottom: 20px;
  padding-top: 5px;
}

.container-card {
  /* background: white; */
  background-image: url("./images/contact\ bg.jpg");
  padding-top: 10px;
  padding-bottom: 50px;
  margin-right: 5%;
  margin-left: 5%;
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
 
}
.team-border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 0.5s;
  position: relative;
}

.team-border:hover {
  border: 2px solid #fff;
}

/* .container-body{
  background:white;
  
  width:50%;
} */

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.card0 {
  background: url("Images/ha-ri.jpg") center center no-repeat;
  background-size: 400px;
  display: flex;
  flex-wrap: wrap;
}
.card0:hover {
  background: url("Images/ha-ri.jpg") center center no-repeat;
  background-size: 600px;
  display: flex;
  flex-wrap: wrap;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("Images/srk.jpg") center center no-repeat;
  background-size: 600px;
  display: flex;
  flex-wrap: wrap;
}
.card1:hover {
  background: url("Images/srk.jpg") center center no-repeat;
  background-size: 800px;
  display: flex;
  flex-wrap: wrap;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 1s;
  font-size: large;
}
.fab {
  opacity: 1;
  transition: opacity 1s;
  width: 30px;
}
.team-icons {
  position: relative;
  fill: black;
  color: white;
  height: 130px;
  top: 200px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

/* Footer */

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
  height: auto;
  padding-top: 40px;
  width: 100vw;
  color: white;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h3{
  font-size: 2.7rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 4rem;
  border-bottom: crimson solid 2px;
}



p{
  max-width: 1080px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 1.3vw;
  color: #cacdd2;
  padding-top: 10px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;

}

 .socials li a{
  text-decoration: none;
  color: white;
  padding: 5px;
  width: 70px;
  font-size: 50;
  size: 50px;
 
}


.footer-menu{
  margin-bottom:1px ;
 
}

.footer-menu ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 1px;
}

.footer-menu ul li{
  
  padding-right: 10px;
  display: block;
}



.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 12;
}

.footer-menu ul li a:hover{
  color: #27bcda;
 
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 0;
  text-align: center;
  margin-top: 30px;
  height: 50px;
}

.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  font-family: OCR A Std, monospace;
}


@media (max-width:400px){
  .footer-menu ul{
    display: inline;
  }
  .footer-menu ul li{
    margin-bottom: 20px;
  }

}

